<header class="header" id="header">
  <div class="container header__inner">
    <a href="/" class="header__logo">
      <img src="/logos/welo-logo-transparent.png" alt="Welo" width="120" height="40">
    </a>
    <button class="header__hamburger" id="menuToggle" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="header__nav" id="mainNav">
      <ul class="header__menu">
        <li><a href="/products">Products</a></li>
        <li><a href="/#platform">Platform</a></li>
        <li><a href="/#industries">Industries</a></li>
        <li><a href="/#why-welo">Why Welo</a></li>
        <li><a href="/#resources">Resources</a></li>
      </ul>
      <a href="#demo" class="btn btn-primary header__cta">Request a Demo</a>
    </nav>
  </div>
</header>
